*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    width:100%;
}
//顶部
.header{
    width:100%;
    height:40px;
    background:#f8f8f8;
    ul{
        margin-left:316px;
        li{
            float:left;
            font-size:12px;
            line-height: 40px;
            a{
                color:#787878;
                margin:0 10px;
            }
        }
    }
    ol{
        float:right;
        margin-right:346px;
        li{
            float:left;
            font-size:12px;
            line-height: 40px;
            
            a{
                color:#787878;
                margin:0 10px;
                img{
                    margin-right:6px;
                    vertical-align: middle;
                }
            }
        }
        
    }
}
//nav
.logo{
    height:86px;
    width:100%;
    
    .logo-1{
        width:1230px;
        margin:0 auto;
        height:36px;
        padding-top:30px;
        img{
            float: left;
            height:36px;
            vertical-align: middle;
        }
        ul{
            overflow: hidden;
            padding-left: 170px;
            li{
                overflow: hidden;
                float: left;
                margin: 0 16px;
                font-size:12px;
                line-height: 36px;
            } 
            #seek{
                float: left;
                width:188px;
                height:32px;
                
                border: 1px solid #b8b8b8;
                color:#b8b8b8;
            }
        } 
    }     
}
//轮播图
.slideshow{
    width:1920px;
    margin: 0 auto;
    img{
        overflow: hidden;
        width:100%;
    }
}
//今日抢购
.jrqg{
    height:92px;
    width:100%;
    p{
        float: left;
    }
    span{
       
    }
}
//折叠手机
.content{
    height:310px;
    width:1236px;
    margin:0 auto;
    background: aquamarine;
    margin-bottom:30px ;
}
//内容
.commodity{
    background: #f5f5f5;
    width:100%;
    height:1116px;
    float:left;
    //手机专区
    .phone{
        height:92px;
        p{
            float: left;
        }
        
    }
    //手机商品
    .axon{
        width:1230px;
        height:610px;
        background: cornflowerblue;
        margin: 0 auto;        
    }
    //精品配件
    .parts{
        height:102px;
        
        p{
            float: left;
        }
    }
    //配件商品
    .parts-1{
        height:302px;
        width:1230px;
        margin:0 auto;
        background:#fff;
    }

}
.footer{
    height:544px;
    width:100%;
    clear: both;
}
